<!-- <div>add - recording</div>

<input type= "button" value="התחל" (click)="startRecording()" class="addRecordingBtn"/>
<br>
<input type= "button" value="סיים" (click)="stopRecording()" class="addRecordingBtn"/>
<br>
<input type= "button" value="האזנה" (click)="hearRecording()" class="addRecordingBtn"/> -->

<button (click)="startPlay()">start</button>
<button (click)="stop()">stop</button>
<button (click)="play()">play</button>
<button (click)="save()">save</button>

<!-- <audio controls>
    <source src="../../../assets/recordings/פרשת תולדות תשפב - הרב ברוך רוזנבלום - כט חשון, תשפב31743461.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio> -->

<audio controls>
    <source [src]="audioBlobUrl" type="audio/mp3">
</audio>
