<table *ngIf="occasionList.length>0">
    <tr>
        <th>סוג אירוע</th>
        <th> תאריך</th>
        <th>קובץ הקלטה</th>
        <th>חזרה </th>
        <th>תאריך הפצה ראשונית</th>
        <th>טווח</th>
    </tr>
    <tr *ngFor="let o of occasionList">
       
        <td>
            <div *ngFor="let ot of dataSer.occsionTypeList">
                <p *ngIf="o.occasionTypeCode == ot.occasionTypeCode">
                     {{ot.occasionTypename}}
                </p>
            </div>
        </td>
        <td>{{o.occasionDate}}</td>
        <td>{{o.recordFile}}</td>
        <td>{{o.repetition}}</td>
        <td>{{o.firstMessage}}</td>
        <td>{{o.range}}</td>
    </tr>
</table>
<p *ngIf=" !(occasionList.length>0)">אין לך אירועים</p>