<!-- תפריט -->
<!-- <button (click) = "showSelected()">צפיה בנבחרים</button> |
 <button (click) = "showAll()">צפיה בהכל</button> |
 <button (mouseover) = "viewPlaceOptions()">צפיה ע"פ מקום מגורים</button>
 <select #selectCities name="" id="" *ngIf="placeFlag" (change) = "showByPlace(selectCities.value)" (mouseout)="closeSelect()">
     <option *ngFor="let p of placesList" [value]="p">{{p}}</option>
 </select> 
 |<button (mouseover) = "viewStudyOptions()">צפיה ע"פ ישיבה</button> |
 <select #selectStudy name="" id="" *ngIf="studyFlag" (change) = "showByStudyPlace(selectStudy.value)"  (mouseout)="closeSelect()">
    <option *ngFor="let s of studyList" [value]="s">{{s}}</option>
</select>
 <button (mouseover) = "viewDavenOptions()">צפיה ע"פ בתי כנסת</button> |
 <select #selectDaven name="" id="" *ngIf="davenFlag" (change) = "showByDavenPlace(selectDaven.value)"  (mouseout)="closeSelect()">
    <option *ngFor="let d of davenList" [value]="d">{{d}}</option>
</select>
<button (click) ="showByRelative()">צפיה בקרובי משפחה </button>
<app-select-specified-guest [list]="currentList"></app-select-specified-guest>
<input type="button" value="לחץ לחזרה" (click)="back()">
<div>wdakvu</div> -->

<!-- <ng2-smart-table [settings]="settings" [source]="jsonObj" id="smartTable"></ng2-smart-table>   -->
<!-- <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">...</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->

  <ngx-smart-modal #myModal [identifier]="'myModal'" id="modal">
    <h1>Title 2</h1>
    <p>Hello</p>
    <button (click)="myModal.close()">Close</button>

    
  </ngx-smart-modal>
  <ng2-smart-table [settings]="settings" [source]="jsonObj" id="smartTable" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>  
  <input type="button" value="משפחה" (click)="showByRelative()"/>
  <input type="button" value="נבחרים" (click)="showSelected()"/>




