<!-- <form [formGroup] = "recordDetailForm" >
    <br>
    <label>הכנס תאריך הודעה ראשונה</label>
    <br>
    <input type="datetime-local" formControlName = "firstMessage" name="firstMessage" id="firstMessage" (change)="submitRecordDetailForm()">
    <br>
    <label>הכנס מספר פעמים להפצת ההודעה</label>
    <br>
    <input type="number" formControlName ="repetition" name="repetition" id="repetition" (change)="submitRecordDetailForm()">
    <br>
    <label>הכנס טווח זמן בין הודעה להודעה</label>
    <br>
    <input type="number" formControlName ="range" name="range" id="range" (change)="submitRecordDetailForm()">
    <br>
    <label>הכנס תאריך אירוע</label>
    <br>
    <input type="date" formControlName = "occasionDate" name="occasionDate" id="occasionDate" (change)="submitRecordDetailForm()">
    <br>
 <input type="submit" value="סיים" [disabled]="!recordDetailForm.valid"> -->
    <!-- <br> -->
<!-- </form> --> 
